<h2>List All book</h2>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>ISBN</th>
			<th>Date Add</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		{{#each books2}}
			<tr>
				<td>{{this.title}}</td>
				<td>{{this.isbn}}</td>

			</tr>



		{{/each}}




	</tbody>

</table>
