<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Libery CRM</title>
		<meta name="description" content="The best app to manage your library"/>
		<meta name="keywords" content="book, books, crm,
library, management"/>
		<!--TODO add to the author-->
		<meta name="Rafał Krukowski i Luki" content="Author name" />
		<meta name="robots" content="index,follow" />
		<link rel="stylesheet" href="/style/style.css">
	</head>
	<body>
		<h1>Library CRM</h1>

		{{{ body }}}

		<footer>
			<!--TODO add authors and license -->

		</footer>


	</body>
</html>
