
<h2>Hello in library CRM</h2>

<label for="title"></label>
<input type="text" id="title">
<button class="findTitle">Find</button>

<!--TODO create homepage-->


<script type="module" src="/home.js"></script>
